img {
    height: 100px;
    width: 100px;
    display: inline-block;
    float: none;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: antiquewhite;
     }
h4 {
    text-align: left;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}
p {
    text-align: center;
}

.paragraph {
    text-align: left;
}